{
	"env": {
	  "browser": true,
	  "es2021": true
	},
	"ignorePatterns": ["node_modules", "dist", "build"],
	"extends": [
	  "eslint:recommended",
	  "plugin:react/recommended",
	  "plugin:prettier/recommended",
	  "plugin:import/errors",
	  "plugin:import/warnings",
	  "eslint-config-prettier",
	  "airbnb",
      "prettier"
	],
	"parserOptions": {
	  "ecmaFeatures": {
		 "jsx": true
	  },
	  "ecmaVersion": "latest",
	  "sourceType": "module"
	},
	"plugins": ["react", "prettier", "import", "jsx-a11y"],
	"rules": {
	  "indent": ["error", 2, { "SwitchCase": 1 }],
	  "prettier/prettier": "error",
	  "linebreak-style": [0, "unix"],
	  "no-plusplus": "off",
	  "jsx-a11y/label-has-associated-control": "off",
	  "jsx-a11y/no-autofocus": "off",
	  "quotes": ["error", "single"],
	  "semi": ["error", "always"],
	  "react/jsx-props-no-spreading": "off",
	  "react/prefer-stateless-function": "off",
	  "react/react-in-jsx-scope": "off",
	  "react/prop-types": 0,
	  "react/static-property-placement": "off",
	  "import/no-unresolved": [2, { "caseSensitive": false }],
	  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
	  "import/order": [
		 2,
		 {
			"groups": [
			  "builtin",
			  "external",
			  "internal",
			  "parent",
			  "sibling",
			  "index"
			],
			"newlines-between": "always"
		 }
	  ]
	},
	"settings": {
	  "import/resolver": {
		 "node": {
			"extensions": [".js", ".jsx", ".ts", ".tsx"],
			"moduleDirectory": ["node_modules", "src/"]
		 }
	  },
	  "react": {
		"pragma": "React",
		"version": "detect"
	  }
	}
 }